<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天一金融-业务范畴</title>
	<!-- 引入头部样式文件 -->
	<link rel="stylesheet" href="../static/css/header.css">
	<!-- 引入业务样式文件 -->
	<link rel="stylesheet" href="../static/css/business-scope.css">


	<!-- 支持移动设备优先 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 引入css文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<!-- 引入jQuery.js文件 -->
	<script src="../static/js/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <!-- 引入bootstrap.js文件 -->
	<script src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            resizeHeader();
            $(window).resize(resizeHeader);
            function resizeHeader() {
                var height = $(window).height();
                $('header').css('height', height);
            }
            // 显示二维码页面
            $("header .scan").mouseenter(function() {
                $(this).children("img").stop().slideDown(200);
            });

            $("header .scan").mouseleave(function () {
                $(this).children("img").stop().slideUp(200);
            });
        });
    </script>
</head>
<body>
	<header>
		<div class="container">
			<nav class="clearfix">
		    	<div class="logo">
		    		<img src="../static/images/logo.png" alt="">
		    	</div>
		    	<div class="shoutcut">
			    	<ul>
						<li><a href="/">首页</a></li>
                        <li><a href="/about/">关于天一</a></li>
                        <li><a href="/product/">业务范畴</a></li>
                        <li><a href="/news">新闻中心</a></li>
                        <li><a href="/job">人才招聘</a></li>
                        <li><a href="/contact/">联系我们</a></li>
				    	<li class="scan">
                            <a href="#">
                                <img src="../static/images/二维码.png" alt="">扫码关注公众号
                            </a>
                            <img src="../static/images/二维码1.png" alt="" class="code">
                        </li>
			    	</ul>
		    	</div>
	    	</nav>
	    	<h1>天一金融云服务</h1>
	    	<p>TIANYI FINANCIAL CLOUD SERVICE</p>
		</div>
		
	</header>
	<div class="product-type container">
		<h3>产品类型</h3>
		<h3>PRODUCT TYPE</h3>
		<div class="product-type-bd">
			<div class="row">
                {% for product in p_1 %}
				    <div class="col">
				    	    <img src="{{ product.img }}" alt="">
				    	    <h4>{{ product.name }}</h4>
				    	    <p>优势：{{ product.advantage }}</p>
				    	    <p>抵押物：{{ product.goods }}</p>
				    	    <p>额度：{{ product.money }}</p>

				    </div>
                {% endfor %}
			</div>
			<div class="row">
                {% for product in p_2 %}
				    <div class="col">
				    	    <img src="{{ product.img }}" alt="">
				    	    <h4>{{ product.name }}</h4>
				    	    <p>优势：{{ product.advantage }}</p>
				    	    <p>抵押物：{{ product.goods }}</p>
				    	    <p>额度：{{ product.money }}</p>

				    </div>
                {% endfor %}
			</div>
			<div class="row">
                {% for product in p_3 %}
				    <div class="col">
				    	    <img src="{{ product.img }}" alt="">
				    	    <h4>{{ product.name }}</h4>
				    	    <p>优势：{{ product.advantage }}</p>
				    	    <p>抵押物：{{ product.goods }}</p>
				    	    <p>额度：{{ product.money }}</p>
				    </div>
                {% endfor %}
			</div>
		</div>
	</div>
    <div style="height: 150px"></div>
    <div style=" text-align:center;position: absolute;left: 40%;">
        <div>
            <div>
                <p>联系我们:400-688-9700</p>
                <p>地址:贵州省贵阳市云岩区北京路鑫都大厦27楼</p>
            </div>
        </div>
    </div>
</body>
</html>